:host {
    display: flex;
    position: static;
    height: 42px;
    align-items: center;
    background: linear-gradient(10deg, #e0246c, #422683 56%);
    color: #fff;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.39);;

    >div {
        padding: 8px;
    }

    .title {
        font-size: 24px;
        font-weight: 600;
        font-family: monospace;
    }
}